body{  font-family: "Bitcount Grid Single", system-ui;

background-image: url("https://giffiles.alphacoders.com/112/112567.gif");
background-repeat: no-repeat;
background-repeat: no-repeat;   
background-size: cover;
background-position: down;
}


p{
color: rgb(26, 9, 117);


}
.cor{

    color:rgb(255, 0, 0)

}
    #corunica{

color:aqua;







    }

body{
    margin: 0px;
}

.logo img {
 width: 96px;
 height: auto;
}

.site-header {
width: 100%;
box-sizing: border-box;
padding: 20 px 32px;
background: #ffff;
display: flex;
box-shadow: 0 30px 24px black (0,0,0,00.8);
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
gap: 16px;
}

.informacoes.aluno{
    font-size: 14px;
    color: rgb(189, 154, 154);
    margin-bottom: 4px;
}
 
.informacoes .titulo{
    font-size: 18px;
    margin: 0;
    color: black;
}
.site-nav a{
    color: darkcyan;
    text-decoration: none;
    font-weight: 600;
}
.site-nav a:hover{
    text-decoration: underline;
}
