body{  font-family: "Bitcount Grid Single", system-ui;

background-image: url(https://c.tenor.com/M4wzCRAH8lEAAAAC/anime-ready.gif)

}


p{
color: rgb(26, 9, 117);


}
.cor{

    color:rgb(255, 0, 0)

}
    #corunica{

color:aqua;


    }








