body{  font-family: "Bitcount Grid Single", system-ui;

background-image: url("https://www.bing.com/th/id/OGC.1466e2935285fde990670259bb71a706?o=7&cb=ucfimgc2&pid=1.7&rm=3&rurl=https%3a%2f%2fi.pinimg.com%2foriginals%2fe4%2fbd%2f66%2fe4bd66b2607b90a5b60b6ef3b491fd3e.gif&ehk=szzTm3uAZz73oRCP94GjbpaX%2btY4WfGwFMBin3bULQY%3d");
background-repeat: no-repeat;
background-size: cover;
background-position: down;
}


p{
color: rgb(26, 9, 117);


}
.cor{

    color:rgb(255, 0, 0)

}
    #corunica{

color:aqua;







    }








